:root {
  --gul:#F6E36D;
  --lilla: #36244D;
  --blå: #05454E;
  --grå-ish: #e4f1f0;
  --egghvid:#FCFAF0;
  --lyselilla:#DCBCFD;
}


/* header med menu */



body {
    background-color: var(--lilla);
    font-family:"Proxima Nova Alt", Sans-serif;
}





header {
width: auto;
height: auto;
}

li{
  list-style: none;
  float: right;
}
ul{
  list-style-type: none;
  margin-bottom: 150px;
}
a{
  color: var(--egghvid);
  text-decoration: none;
}

img{
  height: auto;
  max-width: 300px;
}
footer {
  background-color: var(--lilla);
  font-family:"Proxima Nova Alt", Sans-serif;
  color: var(--egghvid);
  text-align: center;
}

.navbar {
  max-height: auto;
  min-height: auto;
  justify-content: space-between;
  display: flex;
  flex-direction: row;

}

.menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 467px;

}



.nav-link {
  transition: 0.7s ease;
}

.menu li a  {
  color: var(--egghvid);
  padding: 20px;
}

.menuItem:hover {
  color: #89A7AC;
}

<<<<<<< HEAD
/* settings */
.gridsettings{
  display: grid;
  grid-template-areas:
  'menu menu'
  'main main';
  grid-auto-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

}

.overskriftsettings{
text-align: left;
padding: 40px;
font-size: 35px;
}

.membershipvenstre{
  display: grid;
  grid-column:1/2;
  grid-row: 1/2;
}

.membershipvenstre h1{
font-size: 30px;
}

.membershiphøjre{
  display: grid;
  grid-column:2/3;
  grid-row: 1/2;
}

.membershiphøjre p{
  color: var(--lyselilla);
}

.billingvenstre{
  display: grid;
  grid-column:1/2;
  grid-row: 2/2;
}

.billingvenstre h1{
  font-size: 30px;
}



.billinghøjre{
  display: grid;
  grid-column:2/2;
  grid-row: 2/3;
}
.billinghøjre p{
  color: var(--lyselilla);
=======


.header {
  padding: 10px;
  text-align: center;
  background:#05454E;
  color: white;
  font-size: 30px;
  width: 100%;
}


.faq-heading{
    padding: 20px 300px;

}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width: 60%;
  margin: auto;

}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: #05454E;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    margin: auto;
}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%;
   padding: auto;

}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #F9F9F9;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */

    font-size: 20px;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */

>>>>>>> 34b925e8a088e0b5889cc49c79f432af3badbaf6
}
