:root {
  --gul:#F6E36D;
  --lilla: #36244D;
  --blå: #05454E;
  --grå-ish: #e4f1f0;
  --egghvid:#FCFAF0;
  --lyselilla:#DCBCFD;
}


/* header med menu */



body {
    background-color: var(--lilla);
    font-family:"Proxima Nova Alt", Sans-serif;
}





header {
width: auto;
height: auto;
}

li{
  list-style: none;
  float: right;
}
ul{
  list-style-type: none;
  margin-bottom: 150px;
}
a{
  color: var(--egghvid);
  text-decoration: none;
}

img{
  height: auto;
  max-width: 300px;
}


.navbar {
  max-height: 150px;
  min-height: 50px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;

}

.menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 467px;

}


.nav-link {
  transition: 0.7s ease;
}

.menu li a  {
  color: var(--egghvid);
  padding: 20px;
}

.menuItem:hover {
  color: #89A7AC;
}







.faq-heading{
    padding: 20px 300px;
    color: var(--egghvid);
    font-size: 40px;
}

.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width: 60%;
  margin: auto;
  display: none;

}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: var(--egghvid);
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    margin: auto;
}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%;
   padding: auto;

}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.faq-page:hover {
    background-color: var(--lyselilla);
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: var(--lilla);
    display: none;
    overflow: hidden;
      color: var(--lyselilla);
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 20px;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */

>>>>>>> 34b925e8a088e0b5889cc49c79f432af3badbaf6
}
