:root {
  --gul:#F6E36D;
  --lilla: #36244D;
  --blå: #05454E;
  --grå-ish: #e4f1f0;
  --egghvid:#FCFAF0;
  --lyselilla:#DCBCFD;
}


/* header med menu */

body {
    background-color: var(--lilla);
    font-family:"Proxima Nova Alt", Sans-serif;
}

*{
  margin: 0;
}

header {
width: auto;
height: auto;
}

li{
  list-style: none;
  float: right;
}
ul{
  list-style-type: none;
  margin-bottom: 150px;
}
a{
  color: var(--egghvid);
  text-decoration: none;
}

img{
  height: auto;
  max-width: 300px;
}
footer {
  background-color: var(--lilla);
  font-family:"Proxima Nova Alt", Sans-serif;
  color: var(--egghvid);
  text-align: center;
}

.navbar {
  max-height: 150px;
  min-height: 50px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;

}

.menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 467px;
  padding-top: 10px;

}

.nav-link {
  transition: 0.7s ease;
}

.menu li a  {
  color: var(--egghvid);
  padding: 20px;
}

.menuItem:hover {
  color: #89A7AC;
}
/* settings */
.gridsettings{
  display: grid;
  grid-template-areas:
  'menu menu'
  'main main';
  grid-auto-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

}

.overskriftsettings{
text-align: left;
margin-left: 7%;
font-size: 35px;
color:var(--egghvid);
font-weight: bold;
}

.membershipvenstre{
  display: grid;
  grid-column:1/2;
  grid-row: 1/2;
  margin-left: 15%;
  color:var(--egghvid);
}

.membershipvenstre h1{
font-size: 30px;
color:var(--egghvid);
margin-top: 2em;
}

.membershiphøjre{
  display: grid;
  grid-column:2/3;
  grid-row: 1/2;

}

.membershiphøjre p{
  color: var(--lyselilla);
  text-align: right;
  margin-right: 120px;
}

.billingvenstre{
  display: grid;
  grid-column:1/2;
  grid-row: 2/2;
  margin-left: 15%;
  color:var(--egghvid);
}

.billingvenstre h1{
  font-size: 30px;
  margin-top: 2em;
}

.billingvenstre h2{
  align-self: end;
}
.billinghøjre{
  display: grid;
  grid-column:2/2;
  grid-row: 2/3;
}
.billinghøjre p{
  color: var(--lyselilla);
  text-align: right;
  margin-right: 120px;
}

p{
  font-size: 16px;
}
