:root {
  --gul:#F6E36D;
  --lilla: #36244D;
  --blå: #05454E;
  --grå-ish: #e4f1f0;
  --egghvid:#FCFAF0;
  --lyselilla:#DCBCFD;
}


/* header med menu */



body {
    overflow-y: hidden;
    background-color: var(--lilla);
    font-family:"Proxima Nova Alt", Sans-serif;
}

*{
  margin: 0;
}



header {
width: auto;
height: auto;
}

.menu li{
  list-style: none;
  float: right;
}
.menu li ul{
  list-style-type: none;
  margin-bottom: 150px;
}
.menu li a{
  color: var(--egghvid);
  text-decoration: none;
  padding-top: 10px;
}

img{
  height: auto;
  max-width: 300px;
}


.navbar {
  max-height: 150px;
  min-height: 50px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;


}

.menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 467px;
  padding-top: 10px;
}


.nav-link {
  transition: 0.7s ease;
}

.menu li a  {
  color: var(--egghvid);
  padding: 20px;
}

.menuItem:hover {
  color: #89A7AC;
}

.overskriftmysubscribtions{
  text-align: left;
  margin-left: 7%;
  font-size: 35px;
  color:var(--egghvid);
  font-weight: bold;
  }



 .wrapper{
    grid-row: 1/2;
    grid-column: 2/3;
    width: 663px;
    margin-left: 11em;

 }

 .wrapper .search-input{
   background: #DCBCFD;
   width: 100%;
   border-radius: 25px;
   position: relative;
   box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
 }

 .search-input input{
   height: 40px;
   width: 80%;
   outline: none;
   border-radius: 25px;
   border: none;
   padding: 0 60px 0 20px;
   font-size: 18px;
   box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
   background: #DCBCFD;
 }

 .search-input.active input{
   border-radius: 5px 5px 0 0;
 }

 .search-input .autocom-box{
   padding: 0;
   opacity: 0;
   pointer-events: none;
   max-height: 280px;
   overflow-y: auto;
 }

 .search-input.active .autocom-box{
   padding: 10px 8px;
   opacity: 1;
   pointer-events: auto;
 }

 .autocom-box li{
   list-style: none;
   padding: 8px 12px;
   display: none;
   width: 100%;
   cursor: default;
   border-radius: 3px;
 }

 .search-input.active .autocom-box li{
   display: block;
 }
 .autocom-box li:hover{
   background: #efefef;
 }

 .search-input .icon{
   position: absolute;
   right: 0px;
   top: -5px;
   height: 55px;
   width: 55px;
   text-align: center;
   line-height: 55px;
   font-size: 20px;
   color: #644bff;
   cursor: pointer;
 }




  .subscriptionsiden{
    height: 100vh;
    display: grid;
    grid-template-areas:
      'menu menu'
      'main main';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 2em;
  }




.addnewbutton {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 220px;
  height: 40px;
  background-color: #F29E99;
  border-radius: 25px;
  border: none;
  margin-left: auto;
  margin-right: 0;
}

.addnewbutton h3 {
  text-align: center;
  margin-top: 0.5em;


}

.box1 {
  margin-top: 4em;
  grid-row: 1/2;
  grid-column: 2/3;
  width: 900px;
  height: 40px;
  background-color: #DCBCFD;
  border-radius: 25px;
  border: none;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: row;
}

.box1 p {
  margin-left: 110px;
  margin-right: 50px;
  color: var(--grå-ish);
  display: flex;
  align-self: center;

}

.box2 {
  margin-top: 8em;
  grid-row: 1/2;
  grid-column: 2/3;
  width: 900px;
  height: 40px;
  background-color: #FCFAF0;
  border-radius: 25px;
  border: none;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: row;
}

.box2 p {
  margin-left: 86px;
  margin-right: 50px;
  color: var(--lilla);
  display: flex;
  align-self: center;

}

.box3 {
  margin-top: 12em;
  grid-row: 1/2;
  grid-column: 2/3;
  width: 900px;
  height: 40px;
  background-color: #FCFAF0;
  border-radius: 25px;
  border: none;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: row;
}

.box3 p {
  margin-left: 86px;
  margin-right: 50px;
  color: var(--lilla);
  display: flex;
  align-self: center;

}

.box4 {
  margin-top: 16em;
  grid-row: 1/2;
  grid-column: 2/3;
  width: 900px;
  height: 40px;
  background-color: #FCFAF0;
  border-radius: 25px;
  border: none;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: row;
}

.box4 p {
  margin-left: 86px;
  margin-right: 50px;
  color: var(--lilla);
  display: flex;
  align-self: center;

}

@media (max-width: 868px) {


.navbar{
      flex-direction: column;
      width: 100%;
  }
.menu{
width: 100px;
height: 100px;
transform: translate(250px, -100px);
}
.menu li{
float: left;
margin-bottom: 20px;
}
.menu li a{
padding: 0px;
}

.overskriftmysubscribtions{
  transform: translateX(-28px);
}




}
