:root {
  --gul:#F6E36D;
  --lilla: #36244D;
  --blå: #05454E;
  --grå-ish: #e4f1f0;
  --egghvid:#FCFAF0;
  --lyselilla:#DCBCFD;
}


/* header med menu */



body {
    background-color: var(--lilla);
    font-family:"Proxima Nova Alt", Sans-serif;
}





header {
width: auto;
height: auto;
}

.menu li{
  list-style: none;
  float: right;
}
.menu li ul{
  list-style-type: none;
  margin-bottom: 150px;
}
.menu li a{
  color: var(--egghvid);
  text-decoration: none;
}

img{
  height: auto;
  max-width: 300px;
}


.navbar {
  max-height: 150px;
  min-height: 50px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;

}

.menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 467px;

}


.nav-link {
  transition: 0.7s ease;
}

.menu li a  {
  color: var(--egghvid);
  padding: 20px;
}

.menuItem:hover {
  color: #89A7AC;
}

.overskriftmysubscribtions{
  text-align: left;
  margin-left: 7%;
  font-size: 35px;
  color:var(--egghvid);
  font-weight: bold;
  }

  .subscriptionsiden{
    height: 100vh;
    display: grid;
    grid-template-areas:
      'menu menu'
      'main main';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 2em;
  }



input[type=text] {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 660px;
  height: 38px;
  background-color: #DCBCFD;
  border-radius: 25px;
  border: none;
  }
.addnewbutton {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 220px;
  height: 40px;
  background-color: #FCFAF0;
  border-radius: 25px;
  border: none;
  margin-left: auto;
  margin-right: 0;
}

.addnewbutton h3 {
  text-align: center;



}

.box1 {
  margin-top: 4em;
  grid-row: 1/2;
  grid-column: 2/3;
  width: 900px;
  height: 40px;
  background-color: #DCBCFD;
  border-radius: 25px;
  border: none;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: row;
}

.box1 p {
  margin-left: 110px;
  margin-right: 50px;
  color: var(--grå-ish);
  display: flex;
  align-self: center;

}

.box2 {
  margin-top: 8em;
  grid-row: 1/2;
  grid-column: 2/3;
  width: 900px;
  height: 40px;
  background-color: #FCFAF0;
  border-radius: 25px;
  border: none;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: row;
}

.box2 p {
  margin-left: 86px;
  margin-right: 50px;
  color: var(--lilla);
  display: flex;
  align-self: center;

}

.box3 {
  margin-top: 12em;
  grid-row: 1/2;
  grid-column: 2/3;
  width: 900px;
  height: 40px;
  background-color: #FCFAF0;
  border-radius: 25px;
  border: none;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: row;
}

.box3 p {
  margin-left: 86px;
  margin-right: 50px;
  color: var(--lilla);
  display: flex;
  align-self: center;

}

.box4 {
  margin-top: 16em;
  grid-row: 1/2;
  grid-column: 2/3;
  width: 900px;
  height: 40px;
  background-color: #FCFAF0;
  border-radius: 25px;
  border: none;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: row;
}

.box4 p {
  margin-left: 86px;
  margin-right: 50px;
  color: var(--lilla);
  display: flex;
  align-self: center;

}
