:root {
  --gul:#F6E36D;
  --lilla: #36244D;
  --blå: #05454E;
  --grå-ish: #e4f1f0;
  --egghvid:#FCFAF0;
  --lyselilla:#DCBCFD;
}


/* header med menu */



body {
    background-color: var(--lilla);
    font-family:"Proxima Nova Alt", Sans-serif;
}

header {
width: auto;
height: auto;
}


img{
  height: auto;
  max-width: 300px;
}


welcome h1 h2 {
  color: var(--lyselilla);
}
