:root {
  --gul:#F6E36D;
  --lilla: #36244D;
  --blå: #05454E;
  --grå-ish: #e4f1f0;
  --egghvid:#FCFAF0;
  --lyselilla:#DCBCFD;
}


/* header med menu */



body {
    background-color: var(--lilla);
    font-family:"Proxima Nova Alt", Sans-serif;
}





header {
width: auto;
height: auto;
}

li{
  list-style: none;
  float: right;
}
ul{
  list-style-type: none;
  margin-bottom: 150px;
}
a{
  color: var(--egghvid);
  text-decoration: none;
}

img{
  height: auto;
  max-width: 300px;
}


input[type=text], input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 10px;
  display: inline-block;
  border: none;
  background: var(--egghvid);
}
button {
  background-color: var(--lyselilla);
  color: white;
  padding: 14px 46px;
  margin: 15px -68px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.pcontainer {
  padding: 14px 100px;
  width: 50%;
}

.pbtn{
  padding: 14px 200px;
  width: 50%;

}

.slogan{
  padding-left: 1000px;
  color: var(--egghvid);
  font-size: 50px;
}
.slogan2{
  padding-left: 1000px;
  color: var(--egghvid);
  margin-top: -20px;
}
.welcometext{
    margin-left: 110px;
    margin-top: -155px;
    color: var(--egghvid);
    font-size: 50px;
}
.introtext{
    padding: 0px 108px;
    color: var(--egghvid);
    font-size: 30px;
}
.sometext{
  color: var(--egghvid);
  margin-top: 20px;
  padding: 0px 108px;
}
.picons{
  color: var(--egghvid);
  margin-top: 20px;
  padding: 0px 108px;
}
